
<!DOCTYPE html>
<html>
  <head>
    <title>home | Encampment London 2012</title>
    <link rel="stylesheet" href="http://geeksoflondon.com/css/screen.css" type="text/css" media="screen" title="stylesheet" charset="utf-8">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <header>
  <div class='wrapper'>
    <a href='/'><img src="http://geeksoflondon.com/images/logo.png" /></a>
  </div>
</header>
    <section>
      <div class='wrapper'>
        <div class='content'>
          <p class="info">
  Welcome to Geeks of London! We organise meetups for all different types of geeks, from movie geeks and comic book geeks, to scifi geeks and ice cream geeks.
  <br/><br/>
  We hold various events/meetups, from small meetup events to BarCamps, HackCamps, and other unconferences. Have a look at the upcoming events section to see some of out upcoming events.
</p>

<hr/>


  <article class="post">
  <h1>
    <a href="/2011/12/07/the-london-embassy-at-sxsw-2012/">The London Embassy @ SXSW 2012</a>
  </h1>
  <p class="author">
    Posted by Kevin Prince on <span class="date">07 Dec 2011</span>
  </p>
  <p>SXSW is now just under three months away and with hotels filling up fast we are planning to setup a London Embassy in Austin during SXSW Interactive from March 7th to March 14th for fellow Brits and our friends!</p>

<p><a href='http://bit.ly/vnTeNt'>Sign Up for Info</a></p>
</article>

  <article class="post">
  <h1>
    <a href="/2011/12/03/pre-christmas-photowalk/">Pre-Christmas Photowalk</a>
  </h1>
  <p class="author">
    Posted by Cristiano Betta on <span class="date">03 Dec 2011</span>
  </p>
  <p>Grab your camera, put on your walking shoes and come on a photowalk down the River Thames!</p>

<p>Who should come on this photowalk? Anyone! Beginners, pros and anyone interesting in learning more about photography are welcome.</p>

<p>Join us! We’ll walk, talk, snap, and learn together.</p>

<p>We’ll meet outside the entrance of the Observatory in Greenwich Park at 13:00. Look for Bryn Salisbury (<a href='https://twimg0-a.akamaihd.net/profile_images/1317588157/n848360174_4588094_7425.jpg'>picture</a>) and Betsy Weber (<a href='http://www.flickr.com/photos/betsyweber/808907839/'>picture</a>).</p>

<p>The route is 15.1km. <a href='http://g.co/maps/yx2wu'>http://g.co/maps/yx2wu</a> and we will end up Westminister for some night photography followed by dinner.</p>

<p>Our hashtag for the walk is: #ldnphotogs</p>

<p>Contact Bryn (<a href='http://twitter.com/bryns'>@bryns</a>) or Betsy (<a href='http://twitter.com/betsyweber'>@betsyweber</a>) with questions or if you want to catch up midway.</p>
</article>

  <article class="post">
  <h1>
    <a href="/2011/08/29/freeagent-sponsor/">FreeAgent Sponsor</a>
  </h1>
  <p class="author">
    Posted by Cristiano Betta on <span class="date">29 Aug 2011</span>
  </p>
  <p>As Geeks of London is a non-profit we&#8217;re always very happy to see the support from sponsors. We&#8217;re happy to announce that <a href='http://freeagentcentral.com/'>FreeAgent Central</a> is now an official Geeks of London sponsor.</p>

<p><img src='/images/sponsors/freeagent.png' alt='FreeAgent' /></p>

<p>FreeAgent Central are the developers of FreeAgent, a web-based accounting and money management tool for freelancers and small businesses.</p>

<p>Thousands of freelancers and small businesses are discovering a stress-free way to manage their books and invoicing.</p>
</article>



<div class="pagination">

  
    <span class="previous disabled">« Previous</span>
  

      
      <span class="current-page">1</span>
      

    
      
      <a href="/page2">2</a>
      
    

  
    <a class='next' href="/page2">Next »</a>
  

</div>



        </div>
      </div>
    </section>
    <footer>
  <div class='wrapper'>
     <a href='http://creativecommons.org/licenses/by/3.0/'>Some rights reserved</a> |  Hosted by <a href='https://github.com/organizations/geeksoflondon'>GitHub</a>
  </div>
</footer>
  </body>
</html>
