<!DOCTYPE html>
<html>
  <head>
    <title>Geeks Of London</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="stylesheet" charset="utf-8">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <header>
        <div class='wrapper'>
            <a href='/'><img src="/images/logo.png" /></a>
        </div>
    </header>
    <section>
        <div class='wrapper'>
            <div class='content'>
				<h1>Hi {NAME},</h1>
				<p>Below you will find the different types of email we send out, all you need to do is check or uncheck the boxes next to each one.</p>
				<p>Finally if you want to leave us, you can click the unsubscribe link at the bottom.</p>
				<p class="signoff">Your Geeks of London Team</p>
            </div>
			<hr>
			<div class="interest">
				<h3>Everything</h3>
				<p>You will receive emails about every event we run and some about events we are attending.</p>
				Yes I want to receive these: <input type="checkbox" value="TRUE" name="everything">
			</div>
			<div class="interest odd">
				<h3>BarCamp</h3>
				<p>You will receive emails about BarCamp type events including announcements, ticket releases etc.</p>
				Yes I want to receive these: <input type="checkbox" value="TRUE" name="barcamp">
			</div>
			<div class="interest">
				<h3>Hack Days</h3>
				<p>You will receive emails about HackDay type events including announcements, ticket releases etc.</p>
				Yes I want to receive these: <input type="checkbox" value="TRUE" name="hackdays">				
			</div>
			<div class="interest odd">
				<h3>Other Events</h3>
				<p>You will receive emails about other events we are running in the evenings or for just one day</p>
				Yes I want to receive these: <input type="checkbox" value="TRUE" name="geek">
			</div>
			<hr>
            <div class='content'>
				<h3>Our Commitments to you</h3>
				<ul class="commitments">
					<li>Only one marketing email per week per interest.</li>
					<li>Never share email address with anyone.</li>
					<li>We will unsubscribe you as soon as you ask us.</li>
					<li>Free cake if you get an email you didn't ask for at our next event.</li>
					<li>Occasionally something important or very awesome will come up and on these occasions we might need to email everyone. The of this will obviously be free cake</li>
				</ul>
				<br>
				<p>Finally the above is not legally binding but we will try really hard to live up-to it.</p>
            </div>
			<hr>
			<input type="submit" value="Update my details" />
			<a>I have had enough emails and I want to cancel</a>

        </div>
    </section>
    
    <footer>
        <div class='wrapper'>
            <a href='http://creativecommons.org/licenses/by/3.0/'>Some rights reserved</a>
        </div>
    </footer>
  </body>
</html>
